{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    bac
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background: #AAA;">
    <div class="container-fluid">
    <h1>Login</h1>
    </div>
</nav>
<div class="col d-flex justify-content-center">
<div class="card p-3 text-center" style="width: fit-content,">
    <div class="card-header" style="background-color: #3085C3;">
        Login
</div>
    <div class="card-body" style="align-content: center;">
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn btn-primary btn-block mb-4" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>
</div>
</div>

</div>

    {% if messages %}
            {% for message in messages %}
                <p align ="center">{{ message }}</p>
            {% endfor %}
    {% endif %}
    <div class="text-center">
        <p>Don't have an account yet?  <a href="{% url 'main:register' %}">Register Now!</a></p>
    </div>

</div>
{% endblock content %}