{% extends 'base.html' %}

{% block content %}
<style>
    .custom-btn {
    background-color: #04364A; /* Change to your desired color */
    color: #FFFFFF; /* Text color */
    border: none; /* Remove border if needed */
  }
  .custom2-btn{
    background-color: #DAFFFB; /* Change to your desired color */
    color: black; /* Text color */
    border: none; /* Remove border if needed */
  }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <h3>Hi {{name}}!</h3>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: right;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Last login session: {{last_login}}</a>
              </li>
              <li><a class="nav-link disabled" aria-disabled="true">Class:{{class}}</a>
            </li>
        </ul>
        </div>
      <a class="navbar-brand" href="{% url 'main:logout' %}">Logout</a>
    </button>
    </div>
</nav>
    <p style="text-align: center;">You have saved {{counter}} items in this application</p>
    <div class ="card" style="text-align: center;">
        <div class="card-header">
            RAJA INVENTORY
          </div>
    <table class ="table table-hover table-striped" id="product_table"></table>
    <button type="button" class="btn btn-primary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal" >Add Product by AJAX</button>
</div>
    <br />
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        async function getProducts() {
            return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
        }
        async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
            <th></th>
        </tr>`
        products.forEach((item) => {
            htmlString += `\n
            <body>
            <tr>
            <td>${item.fields.name}</td>
            <td>
                <a href="decrement/${item.pk}">
                        <button class="btn custom-btn btn-sm">-</button>
                    </a>
                ${item.fields.amount}
                <a href="increment/${item.pk}">
                        <button class="btn custom-btn btn-sm">+</button>
                    </a>
            </td>
            <td>${item.fields.price}</td>
            <td>${item.fields.description}</td>
            <td>
                ${item.fields.date_added}
            </td>
            <td>
                <a href="delete/${item.pk}">
                        <button class="btn custom-btn btn-sm">Delete</button>
                    </a>
                    <a href="edit-product/${item.pk}">
                        <button class="btn custom-btn btn-sm">Edit</button>
                    </a>
                </td>
            </tr>
        </tbody>` 
        })
        
        document.getElementById("product_table").innerHTML = htmlString
    }

    refreshProducts()

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addProduct
    </script>

    <div class="container" style="text-align: center;">
    <a href="{% url 'main:create_product' %}">
        <button class="btn btn-primary" type="button">
            Add New Product
        </button>
    </a>
    <a href="{% url 'main:logout' %}">
        <button class="btn custom2-btn">
            Logout
        </button>
    </a>
</div>
{% endblock content %}