{% extends 'base.html' %}

{% block content %}
<style>
    table {
  width: 100%;
  border-style:solid ;
  background-color: cadetblue;
}
    th{
        text-align: left;
    }
    td{
        text-align: left;
    }
</style>
    <h1 style="text-align: center;">Raja Inventory</h1>

    <h4 style="text-align: center;">Managed by:</h4>
    <p style="text-align: center;">{{name}}</p>

    <h4 style="text-align: center;">Class:</h4>
    <p style="text-align: center;">{{class}}</p>
    <br>
    <p style="text-align: center;">You have saved {{counter}} items in this application</p>
    <table border="">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
    
        {% comment %} Below is how to show the product data {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" name="increment" value="{{product.id}}">
                            +
                        </button>
                        <button type="submit" name="decrement" value="{{product.id}}">
                            -
                        </button>
                        <button type="submit" name="delete" value="{{product.id}}">
                            Delete Item
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <div class="container" style="text-align: center;">
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
    <h5 style="text-align: center;">Last login session: {{last_login}}</h5>
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
</div>
{% endblock content %}